body {
    background-color: $gray-light;
    padding: 5% 10%;
}

.page {
    
    .navigation {
        position: fixed;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        top: 0;
        z-index: 1;
        width: 80%;
        padding: 20px 0 10px;
        background-color: $gray-light;
        
        &__logo {
            width: 32px;
            height: 32px;
            
            polygon { fill: $gray-dark; }
            
            &:hover {
                polygon { fill: $secondary; }
            }
        }
        
        &__link {
            margin-left: 30px;
            
            &--active {
                color: darken($secondary, 30%);
                &:after {
                    background-color: darken($secondary, 30%);
                    width: 100%;
                }
            }
        }
    }
    
    &__section {
        @extend .clearfix;
        margin: 10% auto;
        padding: 5% 0;
        //border-radius: $border-radius;
        //background-color: $primary;
    }
    
    .work {
        padding: 0;
        background-color: transparent;
        
        .project {
            @extend .clearfix;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: space-between;
            box-sizing: border-box;
            overflow: hidden;
            //flex-basis: 100%;
            //min-width: 300px;
            //max-width: 600px;
            //min-height: 200px;
            //max-height: 400px;
            margin-bottom: 10%;
            background-color: $primary;
            
            &__image {
                @extend .transition;
                width: 100%;
                min-height: 66px;
                min-width: 100px;
                max-height: 400px;
                max-width: 600px;
            }
            &__name {
            }
            
            &__information {
                padding: 5%;
                vertical-align: middle;
                width: 80%;
                flex-grow: 2;
            }
            &__action {
                border: 2px solid $secondary;
                padding: 15px;
                display: inline-block;
            }
            
            &__type,
            &__skills,
            &__description {
            }
            
        }
    }
    
    .contact {
        
        > div {
            box-sizing: border-box;
            width: 50%;
            display: inline-block;
            float: left;
        }
        
        .icon {
            display: inline-block;
            width: 40px;
            margin-right: 15px;
            
            svg {
                @extend .transition;
                border: 2px solid $secondary;
                border-radius: 50%;
                padding: 5px;
                
                path { fill: $secondary; }
                
                &:hover {
                    background-color: $secondary;
                    
                    path { fill: $gray-light; }
                }
            }
            
            &:hover {
                &:after { width: 0; }
            }
        }
        
        .footer-text {
            @extend .transition;
            margin: 10px 0 0;
            font-size: .8rem;
        }
    }
}