.project {
    
    .project-details {
        
        .project-info {
            margin-bottom: 30px;
            color: $gray-dark;
        }
        
        .main-image {
            width: 100%;
            margin: 40px 0;
            border-radius: $border-radius;
        }
        
        .secondary-image {
            margin: 0 30px 30px 0;
            border-radius: $border-radius;
            float: left;
            &__half { width: 50%; }
            &__third { width: 33%; }
            &--right {
                float: right;
                margin: 0 0 30px 30px;
            }
        }
        
        .top-margin {
            margin-top: 30px;
        }
        
        .project-intro {
            font-size: 18px;
            line-height: 2rem;
            margin: 30px 0;
        }
    }
}