///////////
// reset //
///////////
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

///////////////////////
// variables & bases //
///////////////////////
$primary: #ffffff;
$secondary: #0032ff;
$gray-dark: #35342f;
$gray-light: #f1f2f0;
$border-radius: 10px;

.transition { transition: all .2s ease; }

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: $gray-dark;
}

a {
    position: relative;
    color: $secondary;
    font-weight: bold;
    text-decoration: none;
    line-height: inherit;
    
    &:after {
        @extend .transition;
        content: '';
        background-color: $secondary;
        height: 3px;
        width: 0;
        position: absolute;
        bottom: -5px;
        left: 0;
    }
    
    &:hover {
        text-decoration: none;
        
        &:after {
            width: 100%;
        }
    }
    &:active, &:focus {
        text-decoration: none;
        color: darken($secondary,30%);
        
        &:after {
            background-color: darken($secondary,30%);
            width: 100%;
        }
    }
}
b {
    font-weight: 700;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
}

h1 {
    margin-bottom: 30px;
    font-family: 'Vampiro One', cursive;
    font-size: 44px;
    line-height: 54px;
}
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
}

h5, h6 {
    font-family: 'Vampiro One', cursive;
    font-size: 13px;
    line-height: 18px;
    color: $gray-dark;
}