///////////
// reset //
///////////
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    //list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

///////////////////////
// variables & bases //
///////////////////////
$primary: #ffffff;
$secondary: #0032ff;
$gray-dark: #585753;
$gray-mid: #aaa;
$gray-light: #f1f2f0;
$highlight: #ffff00;
$border-radius: 10px;

.transition { transition: all .2s ease; }

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

* {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
//    line-height: 2rem;
    color: $gray-dark;
}

a {
    position: relative;
    color: $secondary;
    font-weight: bold;
    text-decoration: none;
    line-height: inherit;
    
    &:after {
        @extend .transition;
        content: '';
        background-color: $highlight;
        height: 11px;
        width: 0;
        position: absolute;
        bottom: 0;
        left: -2px;
        z-index: -1;
    }
    
    &:hover {
        text-decoration: none;
        
        &:after {
            width: 105%;
        }
    }
    &:active, &:focus {
        text-decoration: none;
        color: darken($secondary,30%);
        
        &:after {
            background-color: darken($secondary,30%);
            width: 100%;
        }
    }
}
    
.button {
    @extend .transition;
    border: 2px solid $secondary;
    padding: 16px;
    display: inline-block;
    color: $secondary;
    font-weight: 900;
    &:hover {
        background-color: lighten($secondary,40%);
    }
}
b {
    font-weight: 900;
}

p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 32px;
    color: $gray-dark;
}

h1 {
    margin-bottom: 30px;
    font-size: 54px;
    line-height: 80px;
}
h2 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 44px;
}

h5, h6 {
    font-size: 13px;
    line-height: 18px;
    color: $gray-dark;
}